*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #000;
  scroll-behavior: smooth;
}

.navbar .logo{
  color: #05472A;
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar{
  background: #FAF3E0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.nav-links a{
  text-decoration: none;
  color: #2B2B2B;
}

.banner{
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
  overflow: hidden;
}

.bg-image{
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  background: url('./ik.jpeg') no-repeat center center/cover;
  z-index: 0;
  filter: brightness(0.4);
}

.banner-text{
  position: relative;
  z-index: 1;
}

.banner-text h1{
  font-size: 1.7rem;
  color: #ffbf00;
}

.banner-text p{
  font-size: 0.95rem;
  margin: 0.5rem 0 1rem;
  color: whitesmoke;
}

.banner-btn{
  background-color: #ffbf00;
  color: #2B2B2B ;
  text-decoration: none;
  border-radius: 2px;
  padding: 0.8rem 1.5rem;
}

.product-section{
  padding: 3rem 2rem;
}

.section-title{
  text-align: center;
  font-size: 2rem;
  color: whitesmoke;
  margin-bottom: 2rem;
}

.product-grid{
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

  .product-card{
  background: #FAF3E0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  align-items: center;
}

.product-card img{
  width: 70%;
  background: whitesmoke;
  border-radius: 10px;
  background-size: 50px;
  object-fit: cover;
}

.product-card h3{
  margin: 0.4rem 0rem 0.8rem;
}

.product-card p{
  color: #2c2c2c;
}

.product-card button{
  background-color: #05472A;
  text-decoration: none;
  color: whitesmoke;
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}


.footer{
  background: #FAF3E0;
  color: #2B2B2B;
  text-align: center;
  padding: 2rem;
  font-size: 1rem;
}

.footer .socials a{
  text-decoration: none;
  color: #05472A;
}